header{
    width: 100%;
    height: 70px;

    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

nav{
    display: flex;
    gap: 30px;
}

nav > a{
    color: whitesmoke;
    font-family: sans-serif;
}

.button-wrapper{
    display: flex;
    gap: 15px;
}

button{
    width: 70px;
    height: 30px;
    border: #00568f;
    background-color: #00568f;
    border-radius: 5px;
    color: white;
    
}

img {
    width: 90px;
    height: 50px;
}